<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.ecommerce.mappers.SousCategorieMapper">

<resultMap id="SousCategorie_ResultMap" type="com.java.ecommerce.model.SousCategorie">
		<id property="id" column="idSousCategorieProduit" />
		<result property="libelle" column="libelle" />
		<association property="categorie" column="idCategorieProduit" javaType="Categorie" select="getCategorie"/>
		</resultMap>
		

		
  <select id="getSousCategorie" parameterType="int" resultMap="SousCategorie_ResultMap">
     SELECT 
    	idSousCategorieProduit, libelle
     FROM SousCategorieProduit
     WHERE idSousCategorieProduit = #{id}
  </select>
  
    <select id="getAllSousCategories" resultMap="SousCategorie_ResultMap">
     SELECT 
    	idSousCategorieProduit, libelle
     FROM SousCategorieProduit
  </select>
  

</mapper>